<p style=\"margin-top: 10px; color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;\">&nbsp; Hi #xxx, #yyy</p>
<p style=\"margin-top: 10px; color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;\"><br> &nbsp; Your collaboration request was successful.</p>
<p style=\"margin-top: 10px; color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;\">&nbsp; #colafrom meet #colato</p>
<p style=\"margin-top: 10px; color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;\">&nbsp; #colato meet #colafrom</p>
<p style=\"margin-top: 10px; color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;\">&nbsp; We hope you enjoy working together.</p>
<p style=\"margin-top: 10px; color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;\"><br>&nbsp; Thanks&nbsp;<br>&nbsp; Admin</p>