<% if type =="accept"%>
<span style=\"font-size: 16px;\">Hi #to</span><div style=\"font-size: 16px;\"><br></div>
<div style=\"font-size: 16px;\">Your demand to join&nbsp;<span style=\"font-size: 16px; font-weight: bold; line-height: 1;\">#projectname</span><span style=\"font-size: 16px; line-height: 1;\">&nbsp;team &nbsp;has been accepted</span></div>
<div style=\"font-size: 16px;\"><span style=\"font-size: 16px; line-height: 1;\"><br></span></div><div style=\"font-size: 16px;\"><span style=\"font-size: 16px; line-height: 1;\">Have fun!!</span></div>
<% elsif type == "decline"%>
<span style=\"font-size: 16px;\">Hi #to</span><div style=\"font-size: 16px;\"><br></div>
<div style=\"font-size: 16px;\">Your demand to join&nbsp;<span style=\"font-size: 16px; font-weight: bold; line-height: 1;\">#projectname</span><span style=\"font-size: 16px; line-height: 1;\">&nbsp;team &nbsp;has not been accepted</span></div>
<div style=\"font-size: 16px;\"><span style=\"font-size: 16px; line-height: 1;\"><br></span></div><div style=\"font-size: 16px;\"><span style=\"font-size: 16px; line-height: 1;\">Try next time. Good luck for future.</span></div>
<%end%>
