&nbsp;&nbsp;<div>&nbsp; Hi&nbsp;#to_fname&nbsp;#to_lname</div><div>&nbsp;&nbsp;</div>
<div>&nbsp; &nbsp;It has been great to have you in&nbsp;#eventname on #eventdate.</div>
<div><br></div>
<div>&nbsp; &nbsp;It would be great if you rate this event. To rate this event click following</div>
<div>&nbsp; &nbsp;stars arranged in ascending order from low to high.</div>
<div><br></div>
<div>&nbsp; &nbsp;#star_rating</div>