<script type="text/javascript" src="public/javascripts/nicEdit.js"></script>
<% page = "setup_program"; ppage = "settings"%>
<%= render "shared/bs_navbar", :page => page, :ppage => ppage %>

<div class="row page_head">
  <div class="col-md-6">
    <h3>
      <i class="gn-icon gn-icon-envelope gn-icon-large"></i>
      Declines Join Team Request
      <i class="glyphicon glyphicon-question-sign help-sign" data-toggle="tooltip" data-placement="bottom" title="Collaboration Successful allows you to customize the email that participants receive when someone has accepted their collaboration request"></i>
    </h3>
  </div>  
</div>
<div class="row main-row">
  
  <div class="col-md-10 main-right-section">
    <h2 class="titleLine title-normal"><span>Main section</span></h2>
    <%= form_tag declines_join_team_request_save_program_messages_path, :method => :post  do %>
      <%= render "declines_join_team_request_form" %>
    <% end %>
  </div>
  <div class="col-md-2 stick_me">
    <ul class="navigator-menu">
      <li id="nav_sec1" class="active-navigator-title">
        <p>Main Section</p>
        <ul>
          <li><a href="#sec1">Declines Join team request email</a></li>
        </ul>
      </li>
    </ul>
  </div>
  
</div>

<%= javascript_include_tag "jquery.sticky-kit.min" %>
<script>
jQuery(document).ready(function($){
    $(".stick_me").stick_in_parent({
      parent: $(".two_sides_content"),
      offset_top: 150
    });
    
    $('.help-sign').tooltip();
  });
  $('.navigator-menu li ul li a').click(function(){
      $('.navigator-menu li ul li').removeClass('active-navigator-section');
      $('.navigator-menu li').removeClass('active-navigator-title');
      $(this).parent().addClass('active-navigator-section');
      $(this).parent().parent().parent().addClass('active-navigator-title');
    $('html, body').animate({
        scrollTop: $('[name="' + $.attr(this, 'href').substr(1) + '"]').offset().top - 60
    }, 500);
    return false;
  });

bkLib.onDomLoaded(function() {
  new nicEditor().panelInstance('feedback_declines_join_team_request');
});
$('#coll-success-hint').on('click', function(e){
    $("#coll-success-hintbox").toggle();
});
$(".hint-title[rel=tooltip]").tooltip();
</script>

<style>
.hint-title{padding:5px;font-weight:bold;}
#coll-success-hintbox{border:2px solid;
border-radius:25px;}
</style>