<tr>
	<td colspan="7">&nbsp;</td>
</tr>
<tr class="tasks_row task-row-main task-new ">
	<td><b>Milestone</b></td>
	<td>Name</td>
	<td colspan=2><%= text_field_tag "workflow[-1-][workflow_milestone][title]", nil, placeholder: "Name of your milestone", class:"form-control form-style-1" %></td>
	<td>Due Date</td>
	<td colspan=2><%= text_field_tag "workflow[-1-][workflow_milestone][due_date]", nil, placeholder: "Date", class:"form-control form-style-1 datepicker_std" %></td>
</tr>