<div id="report-footer">
	<% if !program.try(:program_report_branding).blank? %>
		<!-- report signature -->
		<%= program.program_report_branding.try(:signature).gsub("#date",Time.now.app_format).try(:html_safe) %>			
		
		<!-- report footer -->
		<%= program.program_report_branding.try(:footer).gsub("#date",Time.now.app_format).try(:html_safe) %>
	<% end %>
</div>