<% if ( context_program.try(:program_scope) && context_program.try(:program_scope).participant_scope == "public" && context_program.try(:program_scope).approve_external_participants) %>
   <li class="branded">
    <%= link_to "Refer this to someone<i class='gn-icon gn-icon-refere gn-icon-glyphicon-todo' style='text-align:right;'></i>".html_safe, "#refer_some_one", :class=>"fancybox_small" %>
  </li>
  <!-- lightboxes -->
  <div style="display: none">
    <div id="refer_some_one">
    <h3><b>Refer this to someone</b></h3>
    <br>
    <%= form_tag refer_pitch_some_one_program_pitch_path(context_program, @pitch), id: "contact_form" do %>
        <%= content_tag :div do%>
            <p>Recipient's name</p>
            <input type="text" name="user_name" id="title" class="title form-control">
        <% end %>
        <%= content_tag :div do%>
            <p>Email Address:</p>
            <input type="text" name="email" id="title" class="title form-control">
        <% end %>
        <div>
        <!--<p>Subject:</p>
        <input type="text" name="subject" id="title" class="title form-control" value="#SENDERFIRSTNAME #SENDERLASTNAME is inviting you to join #PROGRAMNAME as a #MENTORROLENAME for #PROJECTNAME">
        </div>
        <br />-->
        <div>
        <p>Message:</p>
        <textarea style="height: 100px; width: 300px;" name="message" class="description form-control" cols="25" rows="8">
        </textarea><br>
        </div>

        <div>
        <input type="submit" style="width:100px" class="contact_send pull-left" id="submit" value="Send">
        <input type="reset" style="width:100px" class="contact_cancel pull-left" id="cancel_btn" value="Cancel">
        <div class="clear"></div>
        </div>
    <% end %>
    </div>
  </div>
  </div>
<% end %>
<script>
  $(document).ready(function(e){
    $(".contact_cancel").on("click", function(e){
      $.fancybox.close();
      e.preventDefault();
    })
  });
</script>