<% if notice %>
  <div class="alert alert-info alert_top_spacing no-spacing-alert">
    <button class="close" data-dismiss="alert" type="button">
      &times;
    </button>
    <%= notice %>
  </div>
<%end %>