<div class="row">
  <div class="col-xs-8 col-sm-4">
    <div style="margin-bottom: 10px;">
      Resource Description
    </div>
    <textarea class="form-control" cols="40" id="module_activity_study_materials_attributes_-1-_resource_description" name="module_activity[study_materials_attributes][-1-][resource_description]" placeholder="Describe your source" rows="2" style="width:16em;"></textarea>
  </div>
  <div class="col-xs-6 col-sm-4">
    <div style="margin-bottom: 10px;">
      Resource Format
    </div>
      <select class="form-control study_material_type" id="study-type--1-" name="module_activity[study_materials_attributes][-1-][resource_format]" style="width: 100%;">
        <option value="Video">Video</option>
        <option value="Image">Image</option>
        <option value="External URL">External URL</option>
        <option value="PDF">PDF</option>
      </select>
  </div>
  <div class="clearfix visible-xs"></div>
  <div class="col-xs-4 col-sm-4">
    <div style="margin-bottom: 10px;">
      Attachment 
    </div>                       
    <div id="link-study-type--1-" class="show">
      <input class="form-control" id="module_activity_study_materials_attributes_-1-_link" name="module_activity[study_materials_attributes][-1-][link]" placeholder="http://" size="30" style="width:100%;" type="text">
    </div>
    <div id="attachment-study-type--1-" style="display:none;" class="hide">
      <input id="module_activity_study_materials_attributes_-1-_attachment" name="module_activity[study_materials_attributes][-1-][attachment]" style="width:98px" type="file">  
    </div>  
  </div>
</div>  
<hr class="mod_sep" />
