<%= render "devise/shared/navbar" %>
<%#= render "devise/shared/sidebar", page: "domain_map" %>
<div id="rightcontent"  class="two_sided_right_content">
	<div class="block">  
	<%= render 'form' %>
		<%= link_to 'Back', domain_maps_path %>
	</div>  
</div>
