<%= render "devise/shared/navbar", page: "payments" %>

<div id="rightcontent"  class="two_sided_right_content">
	<div class="row">
		<div class="col-md-12">
			<div data-collapsed="0" class="panel panel-custom panel-shadow ui-widget collapses panel-table" style="margin-bottom:2px;">
				<div class="panel-heading">
					<div class="panel-title title_option">
						<h3>Subscription</h3>
						<span>Edit Subscription</span>
					</div>
					<div class="panel-options">
						<a data-rel="collapse" id="toggle-setting-box" class="ui-expander gn-icon gn-icon-chevron-up" href="#-"></a>
					</div>
				</div>
						
				<div class="panel-body">
	  			<%= form_for @subscription, :url => organisation_subscription_path do |f| %>
	  	 		<%render "form", f: f %>
	  			<% end %>
				</div>
			</div>
		</div>
	</div>
</div>