<div id="mainnavi">
	<%= render "header" %>
  <!-- Checking if company id not equal 766 (bcs program). Here can be added condition for default(newer) programs. -->
  <div class="clr"></div>
</div>

<div id="mailfunctionAnker"></div>
<div id="sidebar">
 	<%= render "setup_header" %>
</div>

 
 <div id="rightcontent">
  <div class="box_310 company_box manage_companyBox">
    <div style="padding: 15px">
      <%= render "customize_email_header" %>
    </div>
  </div>
</div><!-- #rightcontent -->  