<div class="main hp" id="hp" role="main">
    <div id="content" class="content full">
      <div class="rev-slider-container">
        <div class="tp-banner-container">
          <div class="tp-banner" >
            <ul>
              <!-- SLIDE  -->
              <li data-delay="4000" data-masterspeed="600" data-slotamount="7" data-transition="fade"> 
                <!-- MAIN IMAGE --> 
                <img src="images/slide4.jpg" alt="">
                <!-- LAYER NR. 1 -->
                <div class="tp-caption tentered_white_huge lft tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="400" data-speed="600" data-y="80" data-hoffset="0" data-x="center"><strong style="font-size:24px;">Create an environment, packed with collaboration and learning</strong></div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption tentered_white_huge lfb tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="400" data-speed="600" data-y="150" data-hoffset="0" data-x="center"  style="font-size:16px;text-align: center;line-height: 24px;">A simple collaboration, course and workflow designer, <br>that you can customise in a flash.</div>
                <div class="tp-caption tentered_white_huge lfb tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="400" data-speed="600" data-y="220" data-hoffset="0" data-x="center"  style="font-size:20px;"><a href="http://www.apptual.com/users/sign_up" class="btn btn-primary" style="text-transform: none;font-weight: normal;font-size: 18px;">Start your free trial<span style="color:#98eedd;font-size: 12px;display: block;">no credit card required</span></a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <div class="padding-tb20 lgray-color2 on-big">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="client-logos owl-carousel" data-columns="6" data-autoplay="yes" data-pagination="no" data-arrows="no" data-items-desktop="5" data-items-desktop-small="4" data-items-tablet="3" data-items-mobile="2">
                <li class="item"><a href="http://blog.apptual.com/apptual-welcomes-spring-ucreate/" target="_blank"><img src="images/client-logo1.png" alt="Valentine"></a></li>
                <li class="item"><a href="http://www.accelerator-london.com/" target="_blank"><img src="images/client-logo2.png" alt="Valentine"></a></li>
                <li class="item"><a href="http://beta.capitallist.co/" target="_blank"><img src="images/client-logo4.png" alt="Valentine"></a></li>
                <li class="item"><a href="http://network.mobicap.eu/" target="_blank"><img src="images/client-logo5.png" alt="Valentine"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="wia" class="padding-tb75 text-align-center lgray-color wia">
          <div class="container">
            <div class="row">
              <div class="col-md-12" data-appear-animation="fadeIn" data-appear-animation-delay=".2">
                <h1 class="uppercase short"><span style="color:#c3c3c3;">What is </span>Apptual?</h1>
                <div class="t2_sep">
                  <hr class="thick">
                  <div class="sep_circles">
                    <span><i class="fa fa-1 fa-circle"></i></span>
                    <span><i class="fa fa-1 fa-circle"></i></span>
                    <span><i class="fa fa-1 fa-circle"></i></span>
                  </div>
                </div>
                
                <div class="clearfix"></div>
                <p class="col-md-8 col-md-offset-2">Apptual helps people learn and collaborate online the way they do in the real world... <br> 
And let's you create an environment where people work on common projects, inspired by relevant content, supported by mentors and by each others.
        </p>
                <img src="images/screens.png" alt=""> </div>
            </div>
          </div>
        </div>
      <div id="hiw" class="padding-tb75 hiw">
        <div class="container text-align-center">
          <div class="row">
          <div data-appear-animation-delay=".2" data-appear-animation="fadeIn" class="col-md-12 appear-animation fadeIn appear-animation-visible">
            <h1 class="uppercase short"><span style="color:#c3c3c3;">How it </span>Works?</h1>
            <div class="t2_sep">
              <hr class="thick">
              <div class="sep_circles">
                <span><i class="fa fa-1 fa-circle"></i></span>
                <span><i class="fa fa-1 fa-circle"></i></span>
                <span><i class="fa fa-1 fa-circle"></i></span>
              </div>
            </div>
            
            <div class="clearfix"></div>
            <p class="col-md-8 col-md-offset-2">
        Our easy to use platform incorporates the latest scientific understanding of learning and collaboration, to maximize the speed at which people learn and retain knowledge and their level of engagement. Making learning more engaging and effective for participants. Making collaboration more fruitful. Making it super easy for educators, authors and consultants to rapidly develop and launch successful programs.
        </p>
          </div>
          
          </div>
          <br /><br /><br />
          <div class="row">
            <div class="col-md-4" data-appear-animation="fadeIn" data-appear-animation-delay="50">
              <section class="features"> <span class="features-icon"><i class="fa fa-lightbulb-o"></i></span>
                <h4>1- Design</h4>
                <p>Your ecosystem, your branding, URL, methodology, workflow, bite sized videos, audio, powerpoint, events...</p>
            </div>
            <div class="col-md-4" data-appear-animation="fadeIn" data-appear-animation-delay="150">
              <section class="features"> <span class="features-icon"><i class="fa fa-group"></i></span>
                <h4>2- Invite</h4>
                <p>Use managed emails and URLs to invite all participants and build a support network: educators, consultants, mentors, judges...</p>
            </div>
            <div class="col-md-4" data-appear-animation="fadeIn" data-appear-animation-delay="200">
              <section class="features"> <span class="features-icon"><i class="fa fa-gears"></i></span>
                <h4>3- Manage &amp; Track</h4>
                <p>Get deep insights into participants' activities, progress, and the tools to intervene and best support them.</p>
            </div>
          </div>
        </div>
      </div>
      <section class="parallax parallax1">
        <div id="haf" class="lgray-color padding-tb75 haf">
          <div class="container">
            <div class="row text-align-center">
            <div data-appear-animation-delay=".2" data-appear-animation="fadeIn" class="col-md-12 appear-animation fadeIn appear-animation-visible">
              <h1 class="uppercase short"><span style="color:#c3c3c3;">Who's </span>Apptual for?</h1>
              <div class="t2_sep">
                <hr class="thick">
                <div class="sep_circles">
                  <span><i class="fa fa-1 fa-circle"></i></span>
                  <span><i class="fa fa-1 fa-circle"></i></span>
                  <span><i class="fa fa-1 fa-circle"></i></span>
                </div>
              </div>
              
              <div class="clearfix"></div>
            </div>
            </div>
            <br /><br /><br />
            <div class="row">
              <div class="col-md-8" data-appear-animation="bounceInLeft">
                <div class="tabs">
                  <ul class="nav nav-tabs">
                    <li class="active"> <a data-toggle="tab" href="#sampletab1"> Organisation </a> </li>
                    <li> <a data-toggle="tab" href="#sampletab2"> Consultant</a> </li>
                    <li> <a data-toggle="tab" href="#sampletab3"> Learner </a> </li>
                  </ul>
                  <div class="tab-content">
                    <div id="sampletab1" class="tab-pane active">
                      <div class="media clearfix">
                        <img src="images/flat.jpg" alt="" class="img img-responsive pull-left col-md-3">
                        <p class="pull-left col-md-8">
                          <strong>Are you moving away from on-site courses?</strong><br />  E-learning and online courses  are great alternatives but fail to deliver on the human interaction element like peer to peer learning and mentoring. 
Apptual brings the power of collaboration to your e-learning solutions.
            <br /><br />
            <strong>Are you looking for ways to deliver learning at the point of need?</strong><br> Embedding learning in people's daily activities is a powerful solutions to helping them solve their complex problems: leadership, innovation, presentation skills.
Apptual puts learning at the heart of complex problem resolutions.
            <br /><br />
             <strong>Do you want your own dedicated learning solution but do not want the costs of building and managing it? </strong><br /> Apptual is a SaaS platform that let's you build your own learning platform in a matter of hours.
            </p>
                      </div>
                    </div>
                    <div id="sampletab2" class="tab-pane">
                      <div class="media clearfix"><img src="images/flat2.jpg" alt="" class="img img-responsive pull-left col-md-3"></i>
                        <p class="pull-left col-md-8">
                          <strong>Are you a recognised expert in your field? </strong><br>You must be interested in expanding your market and your revenues by reaching more customers through e-learning.
                          <br><br>
                          <strong>Do you want to protect your customer contacts, brand and revenues from face to face programs? </strong><br>You want a dedicated and branded solution that allows you to create customized programs for your largest customers blending online and offline components.
                          <br><br>
                          <strong>Do you want to a simple solution that does not require any technical knowledge?</strong><br>In an hour Apptual will give you the solution to scale your business! Build your own e-learning website to sell a self-learning experience online directly. Build a dedicated site for your key customer to offer a blended e-learning augmenting your on-site training and interventions with online content, activities and exercise.
                        </p>
                      </div>
                    </div>
                    <div id="sampletab3" class="tab-pane">
                      <div class="media clearfix">
                        <img src="images/flat3.jpg" alt="" class="img img-responsive pull-left col-md-3">
                          <p class="pull-left col-md-8">
                            <strong>Would you rather learn or learn how to?</strong><br /> We have asked the question to professionals and educators and the answer came clear, people learn to solve problems not for the sake of learning.
                <br><br>
                <strong>Can you learn just by consuming content and answering questions?</strong><br />  The answer is no. Learning is 10% absorbing content, 20% socialising the information and learning from others and 70% doing... 
                <br><br>
                <strong>What can you do about it?</strong><br /> Demand a different learning experience! Apptual gives educators tools to build the interactive learning experiences, built around solving real life problems across all learning dimensions. 
                          </p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4" data-appear-animation="bounceInRight" data-appear-animation-delay="200">
                <strong class="hidden-md hidden-lg" style="font-size: 16px;">What Apptual can do:</strong>
                <ul class="features_list">
                  <li class="dotta" style="padding-top: 0;"><i class="fa fa-circle"></i></li>
                  <li class="fet"><i class="fa fa-lg fa-check-circle"></i> Turnkey learning &amp; collaboration website</li>
                  <li class="dotta"><i class="fa fa-circle"></i></li>
                  <li class="fet"><i class="fa fa-lg fa-check-circle"></i> Program designer</li>
                  <li class="dotta"><i class="fa fa-circle"></i></li>
                  <li class="fet"><i class="fa fa-lg fa-check-circle"></i> Course designer</li>
                  <li class="dotta"><i class="fa fa-circle"></i></li>
                  <li class="fet"><i class="fa fa-lg fa-check-circle"></i> Community management</li>
                  <li class="dotta"><i class="fa fa-circle"></i></li>
                  <li class="fet"><i class="fa fa-lg fa-check-circle"></i> Diagnostics &amp; surveys to measure impact</li>
                  <li class="dotta"><i class="fa fa-circle"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <header id="gs" class="heading-fs-bg light-bg margin-20 bg_pictogram gs">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="uppercase short"><span style="color:#c3c3c3;">Get </span>Started!</h1>
              <div class="t2_sep">
                <hr class="thick">
                <div class="sep_circles">
                  <span><i class="fa fa-1 fa-circle"></i></span>
                  <span><i class="fa fa-1 fa-circle"></i></span>
                  <span><i class="fa fa-1 fa-circle"></i></span>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </header>
      <!-- Portfolio Plus Filters -->
      <div class="container margin-40">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter">
              <li data-option-value="*" class="active"><a href="#">Show All</a></li>
              <li data-option-value=".education"><a href="#">Education</a></li>
              <li data-option-value=".enterprise"><a href="#">Enterprise</a></li>
              <li data-option-value=".entrepreneurship"><a href="#">Entrepreneurship</a></li>
              <li data-option-value=".innovation"><a href="#">Innovation</a></li>
              <li data-option-value=".local-government"><a href="#">Local government</a></li>
            </ul>
            <hr />
          </div>
        </div>
        <div class="row" data-appear-animation="fadeInDown" data-appear-animation-delay="50">
          <ul class="portfolio-list sort-destination" data-sort-id="portfolio">
            <li class="col-md-3 isotope-item local-government"> 
              <!-- Portfolio Item  -->
              <div class="portfolio-item">
                <div class="portfolio-image"> <img src="images/shot9.png" alt="Portfolio 1"> </div>
                <span class="project-overlay"> <span class="project-info"> <span class="action-icons"> <a title="View Project" href="regional_ecosystem.html"><i class="fa fa-link fa-2x"></i></a>  </span> <span class="project-name">Regional Ecosystem</span> <span class="project-categories"></span> </span> </span>  
               </div>
               <p class="program_desc">
                Learning powered innovation ecosystems
                <br />
                <a href="#">Find out more <i class="fa fa-caret-right"></i></a> 
               </p>
               
            </li>
            <li class="col-md-3 isotope-item education enterprise entrepreneurship"> 
              <!-- Portfolio Item  -->
              <div class="portfolio-item">
                <div class="portfolio-image"> <img src="images/shot10.png" alt="Portfolio 1"> </div>
                <span class="project-overlay"> <span class="project-info"> <span class="action-icons"> <a title="View Project" href="incubator.html"><i class="fa fa-link fa-2x"></i></a>  </span> <span class="project-name">Incubator &amp; Accelerator</span> <span class="project-categories"></span> </span> </span> 
               </div>
              <p class="program_desc">
                Learning powered incubators
                <br />
                <a href="#">Find out more <i class="fa fa-caret-right"></i></a> 
               </p>
            </li>
            <li class="col-md-3 isotope-item education enterprise entrepreneurship innovation"> 
              <!-- Portfolio Item  -->
              <div class="portfolio-item">
                <div class="portfolio-image"> <img src="images/shot11.png" alt="Portfolio 1"> </div>
                <span class="project-overlay"> <span class="project-info"> <span class="action-icons"> <a title="View Project" href="mentoring.html"><i class="fa fa-link fa-2x"></i></a> </span> <span class="project-name">Mentoring Programs</span> <span class="project-categories"></span> </span> </span> 
                </div>
                <p class="program_desc">
                Bring the power of mentoring to your learning experiences
                <br />
                <a href="#">Find out more <i class="fa fa-caret-right"></i></a> 
               </p>
            </li>
            <li class="col-md-3 isotope-item education enterprise entrepreneurship innovation"> 
              <!-- Portfolio Item  -->
              <div class="portfolio-item">
                <div class="portfolio-image"> <img src="images/shot12.png" alt="Portfolio 1"> </div>
                <span class="project-overlay"> <span class="project-info"> <span class="action-icons"> <a title="View Project" href="competitions.html"><i class="fa fa-link fa-2x"></i></a> </span> <span class="project-name">Competitions</span> <span class="project-categories"></span> </span> </span> 
                </div>
                <p class="program_desc">
                Learning powered competitions
                <br />
                <a href="#">Find out more <i class="fa fa-caret-right"></i></a> 
               </p>
            </li>
          </ul>
          <div style="text-align: center;">
          <a href="#" class="btn btn-primary" style="text-transform: none;font-weight: normal;">create your learning and development program now<br /><span style="color:#98eedd;">1 month free trial</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>